/* BlockImage */

.cont {
	position: relative;
	text-align: center;
	color: white;
}

.MainImage {
	height: auto;
	width: 100%;
	filter: brightness(50%);
}

.blockTextMain {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 500%;
	font-family: 'Montserrat', sans-serif;}

.blockText {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 180%;
	font-family: 'Montserrat', sans-serif;
}

/* Header */

.links {
	font-size: x-large;
	font-family: 'Montserrat', sans-serif !important;
	position: relative;
	left: 6%;
}

.main-link {
	font-size: xx-large;
	font-family: 'Montserrat', sans-serif;
	color: white;
	position: absolute;
	left: 6.5%;
}

.navbar-nav .nav-link{
	padding-left: 9.5% !important;
	padding-right: 9.5% !important;
}

.ModelName {
	text-align: center;
	padding-top: 2%;
	color: white;
}

.CreatorName {
	text-align: center;
	padding-bottom: 2%;
	color: white;
}

.ModelStyle {
	font-family: 'Montserrat', sans-serif;
	background-color: black;
}

.ModelDesc {
	font-family: 'Montserrat', sans-serif;
	color: white;
	margin-right: 1%;
	padding-bottom: 2%;
}

.ModelImage {
	padding-bottom: 10%;
}