.Title {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	color: white;
	padding-top: 2%;
}

/* BlockImage */

.cont {
	position: relative;
	text-align: center;
	color: white;
}

.MainImage {
	height: auto;
	width: 100%;
	filter: brightness(50%);
}

.blockTextMain {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 500%;
	font-family: 'Montserrat', sans-serif;}

.blockText {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 180%;
	font-family: 'Montserrat', sans-serif;
}

/* Header */

.links {
	font-size: x-large;
	font-family: 'Montserrat', sans-serif !important;
	position: relative;
	left: 6%;
}

.main-link {
	font-size: xx-large;
	font-family: 'Montserrat', sans-serif;
	color: white;
	position: absolute;
	left: 6.5%;
}

.navbar-nav .nav-link{
	padding-left: 9.5% !important;
	padding-right: 9.5% !important;
}

/* Model Page */

.ModelName {
	text-align: center;
	padding-top: 2%;
	color: white;
}

.CreatorName {
	text-align: center;
	padding-bottom: 2%;
	color: white;
}

.ModelStyle {
	font-family: 'Montserrat', sans-serif;
	background-color: black;
}

.ModelDesc {
	font-family: 'Montserrat', sans-serif;
	color: white;
	margin-right: 1%;
	padding-bottom: 2%;
}

/* About Page */

.AboutImage {
	position: relative;
	left: 2%;
}

.AboutName {
	padding-top: 2%;
	color: white;
	position: relative;
	left: 2%;
}

.AboutDesc {
	font-family: 'Montserrat', sans-serif;
	color: white;
	margin-right: 1%;
	padding-bottom: 2%;
	text-indent: 6%;
}

.AboutBody{
	background-color: black;
}

/* FAQ */

.FAQstyle {
	background-color: black;
	color: white;
	font-family: 'Montserrat', sans-serif;
}

.Question {
	font-family: 'Montserrat', sans-serif;
	color: white;
	margin-left: 4%;
	margin-bottom: 1%;
}

.Answer {
	font-family: 'Montserrat', sans-serif;
	color: white;
	margin-left: 6%;
	margin-right: 4%;
	text-indent: 6%;
}